h1{
    color: #FF4B3E;
    border-style: dotted;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}
h2{
    color: #FFB20F;
}
h3{
    color: #FFE548;
}
h4{
    color: #68A357;
}
h5{
    color: #32965D;
}

p{
    color: #FFEF8D;
}
body{
    background-color: #181D27;
    margin: 200px;
    margin-top: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF4B3E;
    width: 100%;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#181D27;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.1em;
}

nav ul li a:hover{
    background-color:aliceblue;
}

.zoomimage {
    width: 480px; 
    height: 270px;
    transition: 2s;
}

.zoomimage:hover {
    width: 560px; 
    height: 315px;
}
#cheeses {
    text-align: center;
}
div {
    text-align: center;
}
hgroup {
    display: inline-block;
}
.pullquote {
    font-size: xx-large;
    color: #FF4B3E;
    text-align: center;
}
.pullquotetwo {
    padding-right: 2vw;
    font-size:x-large;
    text-align: right;
    color: #68A357;
}
.pullquote::after{
    content: "'dont quote me but i committed that crime in 2008 involving the stock market crash'";
}
.pullquote:hover::after{
    content: "jerry was arrested for arson and money laundering in 2012 and will be serving life in prison";
}
.pullquotetwo::after{
    content: "jerry 2024"
}
.pullquotetwo:hover::after{
    content: 'stay in school kids';
}